@using Orchard.Utility.Extensions;
@{
    if (Model.Title != null) {
        Layout.Title = Model.Title;
    }
    
    var contentTypeClassName = ((string)Model.ContentItem.ContentType).HtmlClassify();
}
<article class="content-item @contentTypeClassName">
@*<ul id="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li><a href="/News">NS® News &amp; Information</a></li>
    <li>@Display(Model.ContentItem.TitlePart.Title)</li>
</ul>*@
<h2 class="archivePageHeader">@Display(Model.ContentItem.TitlePart.Title)</h2>
    @Display(Model.Content)
</article>