<div id="articlePage">
        <div class="picture right">
            <img src="/@Display(Model.ContentPart.ContentItem.ArticlePart.PrimaryImage)" />
        </div>
        @Model.Html
    </div>
    <div id="GoBack"> 
         <span class="orangeBtn"><a href="/News" class="btn">Go Back to Safety News</a></span>
    </div>
	<div class="clear" style="padding:5px;"></div>
     

