@using Orchard.Utility.Extensions;
@using Contrib.Taxonomies.Models;
@using Contrib.Taxonomies.Helpers;

@{
    int level=-1;
}

<div class="taxonomy-toc">
    <ul class="mainMenu">
        <li class="header" style="text-transform:uppercase; font-weight:bold;">Article Categories</li>
    </ul>
    <ul style="padding:0 0 0 15px;">
        <li class="ArticleTaxo">
	@foreach (Contrib.Taxonomies.Models.TermPart term in Model.Terms) {
		if(term.GetLevels() > level) {
			level++;
			@:<ul class="terms">
		}
		else if(term.GetLevels() < level) {
			level--;
			@:</ul>
		}
		else {
			@:</li>
		}

		@:<li><span>
			@Html.ItemDisplayLink((string)term.Name, term.ContentItem)
	}
        
		</span></li>
	@for (int i = 0; i < level; i++) {
	@:</ul>
	}
        </li>
    </ul>
</div>