<h2><b>@ViewData["count_loaded"].ToString()</b> out of <b>@ViewData["count_feed"].ToString()</b> articles were loaded.</h2>
<br />
<h2><b>@ViewData["count_categories"].ToString()</b> node Article Taxonomy updated.</h2>

@Html.Raw(ViewBag.Output)