<h2>Load XML once for the begining of Orchard setup.</h2>
<table>
    <tr>
        <td style="padding:5px">
            <h2>[ @Html.ActionLink("Load Archived Articles", "LoadXML", new { area = "Northern.News" }, new { Style = "color:green" }) ]</h2>
        </td>
    </tr>
</table>